<div class="card-container">
	<mat-card class="card">
		<mat-card-header>
			<mat-card-title>Number of users</mat-card-title>
			<mat-card-subtitle>the total number of users on our platform</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<label class="bigNumber">{{data.numberOfUsers}}</label>
		</mat-card-content>
	</mat-card>

	<mat-card class="card">
		<mat-card-header>
			<mat-card-title>Number of files</mat-card-title>
			<mat-card-subtitle>the total number of files in the system</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<label class="bigNumber">{{data.numberOfFiles}}</label>
		</mat-card-content>
	</mat-card>

	<mat-card class="card">
		<mat-card-header>
			<mat-card-title>Used storage</mat-card-title>
			<mat-card-subtitle>the total storage used by our users</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<label class="bigNumber">{{data.totalDataStored | round}}</label>
		</mat-card-content>
	</mat-card>
</div>
<hr>
<div id='container'></div>