<div class="plan-container">
	<span matRipple class="square" [mat-dialog-close]="'Free'">
		<div class="primary-text">
			<h3>Free</h3>
			<br>
			<h1>&euro; 0/mo</h1>
			<h3>1 GB</h3>
		</div>
	</span>

	<span matRipple class="square" [mat-dialog-close]="'Basic'">
		<div class="primary-text">
			<h3>Basic</h3>
			<br>
			<h1>&euro; 1/mo</h1>
			<h3>10 GB</h3>
		</div>
	</span>

	<span matRipple class="square" [mat-dialog-close]="'Advanced'">
		<div class="primary-text">
			<h3>Advanced</h3>
			<br>
			<h1>&euro; 5/mo</h1>
			<h3>100 GB</h3>
		</div>
	</span>
</div>