<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Choose File</h3>
            <div class="form-group">
                <input type="file" name="image" (change)="fileProgress($event)" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>
<br>
<div>
    <mat-form-field style="width:100%">
        <input  matInput [(ngModel)]="message" [type]="'text'" placeholder="Message" autocomplete="off">
    </mat-form-field>
    <p>
        {{encryptedMessage}}
    </p>
</div>