<h1 mat-dialog-title [align]="'center'">Choose encryption</h1>
<div class="mat-dialog-content">
	<div *ngIf="keyInput()">
		<mat-form-field class="login-form-item">
			<input matInput [(ngModel)]="keyValue">
		</mat-form-field>
	</div>
	<br>
	<mat-select [(value)]="selected">
		<mat-option *ngFor="let item of data; let i = index" [value]="item">{{item}}</mat-option>
	</mat-select>
</div>
<div mat-dialog-actions [align]="'center'">
	<button mat-raised-button color="warn" (click)="onNoClick()">Abort</button>
	<button mat-raised-button color="primary" (click)="onYesClick()">Choose file</button>
</div>