.container {
    margin-left: 10%;
    margin-right: 10%;
}

table {
    width: 100%;
}   

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.action-link {
    align-content: center;
}

.left {
    width: 10%;
}

.right {
    text-align: right;
    width: 30%;
}

.middle {
    text-align: center;
    width: 60%;
}