.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.button-container{
	display: flex;
	flex-direction: row;
	margin-left: 10%;
}

.card{
	margin-top: 50px;
	margin-left: 30px;
	min-height: 200px;
}

.addCard{
	margin-top: 20px;
	margin-left: 30px;
	max-height: 50px;
	max-width: 80px;
}

.textBorder{
	min-height: 200px;
	border: 1px whitesmoke solid;
	border-radius: 10px;
	vertical-align: middle;
}

.noteLabel{
	width: 100%;
	min-height: 200px;
	border-radius: 10px;
	border: 1px whitesmoke solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.noteTitle{
	text-align: center;
	border: none;
	font-size: larger;
}

textarea {
	resize: none;
}